# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# PM2
.pm2
pids
*.pid
*.seed
*.pid.lock

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/app/generated/prisma

.old-theme
public/uploads/*
.sessions
old_theme.sql